{% extends "partials/base.html" %}
{% load static %}
{% block content %}
  <div class="main-content">
    <h1>Visão Geral</h1>

    <div class="dashboard-cards">
      <div class="card">
        <h3>Total de Dízimos</h3>
        <p>R$ {{ total_dizimos }}</p>
      </div>
      <div class="card">
        <h3>Total de Ofertas</h3>
        <p>R$ {{ total_ofertas }}</p>
      </div>
      <div class="card">
        <h3>Total de Saídas</h3>
        <p style="color: red;">R$ {{ total_saida }}</p>
      </div>
      <div class="card">
        <h3>Saldo Atual</h3>
        <p style="color: green;">R$ {{ total }}</p>
      </div>
    </div>

    <div class="chart-container">
      <h3 style="margin-bottom: 20px;">Entradas e Saídas por Mês</h3>
      <canvas id="graficoMovimentacao" height="100"></canvas>
    </div>
  </div>

  <!-- Chart.js via CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    async function getData() {
      const url = "http://127.0.0.1:8000/transactions/list/?start=2025-01-01&end=2025-05-31"
      try {
        const response = await fetch(url);
        if (!response.ok) {
          throw new Error(`Response status: ${response.status}`);
        }
        const json = await response.json();
        
        let entradas = []
        let saidas = []
        for(let e in json['data']) {
          if (json['data'][e]['tipo'] == 'ENTRADA') {
            entradas.push(json['data'][e]['total'])
          } else {
            saidas.push(json['data'][e]['total'])
          }
        }

        const ctx = document.getElementById('graficoMovimentacao');

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: json['months'],
            datasets: [
              {
                label: 'Entradas',
                data: entradas,
                backgroundColor: '#27ae60'
              },
              {
                label: 'Saídas',
                data: saidas,
                backgroundColor: '#c0392b'
              }
            ]
          },
          options: {
            responsive: true,
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      } catch (error) {
        console.error(error.message);
      }
    }

    getData()
  
  </script>
{% endblock %}
