{% extends "partials/base.html" %} {% load static %} {% block content %}
<div class="main-content">
  {% comment %} {% include "form_transaction.html" %} {% endcomment %}

  <h2 style="margin-top: 40px">Últimas Entradas</h2>
  <p>
    <a href="{% url 'form' %}" class="btn btn-primary"
      >adicionar nova entrada</a
    >
  </p>
  <table class="tabela-listagem">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Descrição</th>
        <th>Valor (R$)</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody id="lista-entradas">
      {% for transaction in transactions %}
      <tr>
        <td>{{transaction.transaction_type}}</td>
        <td>{{transaction.description}}</td>
        <td>{{transaction.value}}</td>
        <td>{{transaction.created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- <script src="{% static "js/script.js" %}"></script> -->
{% endblock %}
