{% extends "partials/base.html" %} {% load static %} {% block content %}
<div class="main-content">
  <h1>Relatórios Financeiros</h1>

  <form method="POST" action="{% url 'create' %}">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Gerar Relatorio</button>
  </form>

  {% comment %}
  <form class="form-box">
    <label for="data-inicio">De:</label>
    <input type="date" id="data-inicio" value="2025-01-01" required />

    <label for="data-fim">Até:</label>
    <input type="date" id="data-fim" value="2025-04-10" required />

    <button type="submit">Gerar Relatório</button>
  </form>
  {% endcomment %}

  <div class="relatorio-box">
    <h3>Resultado:</h3>

    <p>
      <strong>Total de Dízimos:</strong> R$
      <span style="color: green">
        {% if total_dizimos %} {{ total_dizimos }} {% else %} 0 {% endif %}
      </span>
    </p>
    <p>
      <strong>Total de Ofertas:</strong> R$
      <span style="color: green">
        {% if total_ofertas %} {{ total_ofertas }} {% else %} 0 {% endif %}
      </span>
    </p>
    <p>
      <strong>Total de Saídas:</strong> R$
      <span style="color: red">
        {% if total_saida %} {{ total_saida }} {% else %} 0 {% endif %}
      </span>
    </p>
    <hr />
    <p>
      <strong><u>Saldo Final:</u></strong> R$
      <strong style="color: blue">
        {% if total %} {{ total }} {% else %} 0 {% endif %}
      </strong>
    </p>
  </div>
</div>

{% endblock %}
