{% extends "partials/base.html" %} {% load static %} {% block content %}
<div class="main-content">
  <h1>Relatórios Financeiros</h1>

  <form class="form-box">
    <label for="data-inicio">De:</label>
    <input type="date" id="data-inicio" value="2025-01-01" required />

    <label for="data-fim">Até:</label>
    <input type="date" id="data-fim" value="2025-04-10" required />

    <button type="submit">Gerar Relatório</button>
  </form>

  <div class="relatorio-box">
    <h3>Resultado:</h3>

    {% if response %}
    <p>
      <strong>Total de Dízimos:</strong> R$
      <span style="color: green">{{response['total_dizimos']}}</span>
    </p>
    <p>
      <strong>Total de Ofertas:</strong> R$
      <span style="color: green">980,00</span>
    </p>
    <p>
      <strong>Total de Saídas:</strong> R$
      <span style="color: red">1.320,00</span>
    </p>
    <hr />
    <p>
      <strong><u>Saldo Final:</u></strong> R$
      <strong style="color: blue">2.110,00</strong>
    </p>

    {% endif %}
  </div>
</div>

{% endblock %}
