{% extends "partials/base.html" %} {% load static %} {% block content %}

<div class="main-content">
  <h1>Registrar Saída</h1>
  <form id="form-saida" class="form-box">
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao" required />

    <label for="valor-saida">Valor (R$):</label>
    <input
      type="number"
      id="valor-saida"
      name="valor-saida"
      min="0"
      step="0.01"
      required
    />

    <label for="data-saida">Data:</label>
    <input type="date" id="data-saida" name="data-saida" required />

    <button type="submit">Salvar Saída</button>
  </form>

  <h2 style="margin-top: 40px">Últimas Saídas</h2>
  <table class="tabela-listagem">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor (R$)</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody id="lista-saidas">
      <td>Compra de Produtos de Limpeza</td>
      <td>R$ 50.00</td>
      <td>25/05/2025</td>
    </tbody>
  </table>
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
